*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
     

  }
  
  .input-box {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: black;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #searchBtn {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #searchBtn:hover {
    background-color: #3e8e41;
  }
  
  .weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.weather-body img{
    width: 60%;
    height: 50%;
    
}

.weather-box{
    margin-block: 20px;
    text-align: center;
    
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    line-height: 1.5;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    line-height: 1.5;
}

.weather-box .description{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;

}

.weather-details{
   line-height: -7.5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-block: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    
}

.humidity, .wind{
    display: flex;
    margin-left: -100%;
    margin-right: 2%;
    align-items: auto;
    
}

.humidity{
    margin-left: 10px; 
    
    text-align: left;   
    align-items: center;
    margin-top: 10px;
    height: 100px;
    width: 80px;
}


.wind{
    margin-left: 40px; 
    margin-right: 0px;
    margin-top: 10px;
    text-align: center;
    align-items: center;   
    margin-bottom: 10px;
    height: 100px;
    width: -150px;
}

.weather-details img{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 15px;
}

.text span{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 70%;
}